<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inleveropdracht C</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="customersCtrl" >

    <table border="true">
        <thead>
        <tr>
            <th ng-repeat="column in columns">{{column}}</th>
        </tr>
        <tr ng-repeat="x in bedrijf">
            <td ng-repeat="column in columns">{{x[column]}}</td>
        </tr>
        </thead>
    </table>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function ($scope, $http) {
            $http.get("auto.php")
                .then(function (response) {
                    $scope.bedrijf = response.data.records;
                    $scope.columns = Object.keys($scope.bedrijf[0]);
                });
        });
    </script>

</body>

</html>